<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.vitorgalvao.alfred.deleteconfiguration</string>
	<key>connections</key>
	<dict>
		<key>B83A82D4-539A-4EB8-A370-BAC12EB3E258</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>B3365B16-C7E7-4945-9D16-CB80E147FF94</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
				<key>vitoclose</key>
				<true/>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Vítor Galvão</string>
	<key>description</key>
	<string>Find settings and preferences to delete</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>Delete Configuration</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>alfredfiltersresults</key>
				<false/>
				<key>alfredfiltersresultsmatchmode</key>
				<integer>0</integer>
				<key>argumenttreatemptyqueryasnil</key>
				<false/>
				<key>argumenttrimmode</key>
				<integer>0</integer>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>{var:search_keyword}</string>
				<key>queuedelaycustom</key>
				<integer>3</integer>
				<key>queuedelayimmediatelyinitially</key>
				<false/>
				<key>queuedelaymode</key>
				<integer>0</integer>
				<key>queuemode</key>
				<integer>2</integer>
				<key>runningsubtext</key>
				<string>Searching…</string>
				<key>script</key>
				<string></string>
				<key>scriptargtype</key>
				<integer>1</integer>
				<key>scriptfile</key>
				<string>mdlibrary</string>
				<key>subtext</key>
				<string>{const:alfred_workflow_description}</string>
				<key>title</key>
				<string>{const:alfred_workflow_name}</string>
				<key>type</key>
				<integer>8</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>B83A82D4-539A-4EB8-A370-BAC12EB3E258</string>
			<key>version</key>
			<integer>3</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>addfilestobuffer</key>
				<true/>
				<key>clearbuffer</key>
				<false/>
				<key>outputtype</key>
				<integer>0</integer>
			</dict>
			<key>type</key>
			<string>alfred.workflow.action.buffer</string>
			<key>uid</key>
			<string>B3365B16-C7E7-4945-9D16-CB80E147FF94</string>
			<key>version</key>
			<integer>1</integer>
		</dict>
	</array>
	<key>readme</key>
	<string>## Usage

Find files and folders in `~/Library` via the `dconf` keyword. &lt;kbd&gt;↩&lt;/kbd&gt; to add to the File Buffer.

![Alfred search for dconf apple.chess](images/about/dconf.png)</string>
	<key>uidata</key>
	<dict>
		<key>B3365B16-C7E7-4945-9D16-CB80E147FF94</key>
		<dict>
			<key>xpos</key>
			<real>240</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
		<key>B83A82D4-539A-4EB8-A370-BAC12EB3E258</key>
		<dict>
			<key>xpos</key>
			<real>40</real>
			<key>ypos</key>
			<real>30</real>
		</dict>
	</dict>
	<key>userconfigurationconfig</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>dconf</string>
				<key>placeholder</key>
				<string></string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
			</dict>
			<key>description</key>
			<string></string>
			<key>label</key>
			<string>Search Keyword</string>
			<key>type</key>
			<string>textfield</string>
			<key>variable</key>
			<string>search_keyword</string>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>default</key>
				<string>Fonts
Mobile Documents</string>
				<key>required</key>
				<false/>
				<key>trim</key>
				<true/>
				<key>verticalsize</key>
				<integer>6</integer>
			</dict>
			<key>description</key>
			<string>New-line separated list of folder paths to ignore, as direct children of ~/Library.</string>
			<key>label</key>
			<string>Ignored Folders</string>
			<key>type</key>
			<string>textarea</string>
			<key>variable</key>
			<string>ignored_suffixes</string>
		</dict>
	</array>
	<key>version</key>
	<string>2023.1</string>
	<key>webaddress</key>
	<string>https://github.com/vitorgalvao/delete-configuration-workflow/</string>
</dict>
</plist>
